<form #addPharmacistForm="ngForm" class="border border-light p-5" method="post" (ngSubmit)="onSubmit(addPharmacistForm)" autocomplete="off">

    <p class="h4 mb-4 text-center">Add Car</p>

    <label for="carModel">Car ID</label>
    <input type="text" [(ngModel)]="carId" type="number" name="carId" class="form-control mb-4" placeholder="Car ID">

    <label for="carName">Car Name</label>
    <input type="text" [(ngModel)]="carName" type="text" name="carName" class="form-control mb-4" placeholder="Car name">

    <label for="carModel">Car model</label>
    <input type="text" [(ngModel)]="carModel" type="number" name="carModel" class="form-control mb-4" placeholder="Car model">

    <label for="carModel">Car Price</label>
    <input type="text" [(ngModel)]="carPrice" type="number" name="carPrice" class="form-control mb-4" placeholder="Car price">

    <button class="btn btn-info btn-block" type="submit">Add car</button>
</form>