<form #editCarForm="ngForm" class="border border-light p-5" method="post" (ngSubmit)="onSubmit(editCarForm)" autocomplete="off">

    <p class="h4 mb-4 text-center">Add Customer</p>

    <label for="customerId">Customer ID</label>
    <input type="text" [(ngModel)]="customerId" name="customerId" class="form-control mb-4" placeholder="Customer ID">

    <label for="customerName">Customer Name</label>
    <input type="text" [(ngModel)]="customerName" name="customerName" class="form-control mb-4" placeholder="Customer name">

    <label for="customerPhone">Customer phone</label>
    <input type="text" [(ngModel)]="customerPhone" name="customerPhone" class="form-control mb-4" placeholder="Customer phone">

    <label for="AssuranceType">Assurance Type</label>
    <input type="text" [(ngModel)]="AssuranceType" name="AssuranceType" class="form-control mb-4" placeholder="Customer price">

    <button class="btn btn-info btn-block" type="submit">Add Customer</button>
</form>